/*------------------------------Header--------------------------------*/



/*------------------------------Site Title----------------------------*/

#siteTitle {
    display: inline-block;
    font-weight: 100;
    font-family: 'Muli', sans-serif;
    padding-left: 5%;
    text-align: center;
    vertical-align: middle;
    font-size: 26px;
}

#siteTitle p {
    padding-top: 10px;
    vertical-align: middle;
}

/*--------------------------Navigation--------------------------------*/

#nav-bar {
    float: right;
    width: 50%;
}

a.nav-class {
    margin: 0;
    padding: 1%;
    width: 20%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #707070;
    line-height: 100px;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
}



.active {
    margin: 0;
    padding: 1%;
    width: 20%;
    font-weight: 300;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: black;
    line-height: 100px;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
}

nav {
    display: inline-block;
    width: 100%;
}

a.nav-class:hover {
    color: black;
    font-size: 17px;
}

/*---------------------------------Banner Images-------------*/

#home-banner {
    display: block;
    width:100%;
    margin: 0;
}

#home-banner-800 {
    display: none;
}

#home-banner-480 {
    display: none;
}

/*---------------------------------Main Content---------------------------*/
 
#page-main-content {
    margin: 1% 25% 1% 25%;
    text-align: justify;
}
#page-main-content strike {
    color: #707070;
}

#page-main-content h1 {
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: 100;
    
}

#page-main-content p {
    line-height: 1.8;
    color: #515151;
}


/*----------------------Footer Styling-------------------------------*/
#footer a {
    text-decoration: none;
    color:#707070;
    font-size: 16px;
}

#footer {
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    text-align: center;
    color:#707070;
    margin: 2.5%;

}

#footer a:hover {
    color:black;
    font-size: 17px;
}


